* {
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  background-color: #d5e0eb;
}

#loading {
  /* position: fixed ; */
  width: 100%;
  height: 100vh;
  background-color: cyan;
  background-image: url("/images/giphy.gif");
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  background-size: 20%;
  z-index: 99999;
}

/* -----------------------------------------------------------Main Page Slideshow----------------------------------------------- */

#slideshow {
  /* background-color: blue; */
  padding: 40px 0px 100px 0px;
  margin: 0px 0px 200px 0px;
  /* margin: 10px 50px 100px 50px; */
  /* height: 100%; */
  width: 100%;
  /* overflow: hidden; */
  /* display: block; */
  position: relative;
  overflow-x: hidden;
}

.slideshowSlide {
  margin-left: auto;
  margin-right: auto;
  /* padding: 0px; */
  /* max-width: 100%; */
  height: 600px;
  /* width: 100%; */
  display: none;
  /* background-color: gray; */
  padding-bottom: 100px;
}

.animationFade {
  animation-name: animationFade;
  animation-duration: 1.5s;
  -webkit-animation-name: animationFade;
  -webkit-animation-duration: 3s;
}

@-webkit-keyframes animationFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animationFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slideshowImageText {
  position: absolute;
  letter-spacing: 2px;
  line-height: 35px;
  bottom: 20%;
  left: 20%;
  animation-name: stylishTranslate;
  animation-duration: 2s;
  -webkit-animation-name: stylishTranslate;
  -webkit-animation-duration: 2s;
  z-index: 1;
  /* background: linear-gradient(
    rgba(100, 100, 255, 0.3),
    rgba(100, 100, 255, 1),
    rgba(100, 100, 255, 0.3)
  ); */
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes stylishTranslate {
  from {
    left: 50%;
  }
  to {
    left: 20%;
  }
}

@-webkit-keyframes stylishTranslate {
  from {
    left: 50%;
  }
  to {
    left: 20%;
  }
}

.slideshowImageText h1 {
  color: white;
  font-weight: bold;
  font-size: 40px;
  margin: 20px;
}

.slideshowImageText p {
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.slideshowImage {
  transform: scale(1.5, 1.5);
  animation-name: zoom-in;
  animation-duration: 40s;
  -webkit-animation-name: zoom-in;
  -webkit-animation-duration: 40s;
  border: 10px solid white;
  max-height: 100%;
  max-width: 90%;

  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

/* @keyframes zoom-in {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.3, 1.3);
  }
}
@-webkit-keyframes zoom-in {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.3, 1.3);
  }
} */

@keyframes zoom-in {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.3, 1.3);
  }
}
@-webkit-keyframes zoom-in {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.3, 1.3);
  }
}

#previousImageButton,
#nextImageButton {
  position: absolute;
  color: black;
  top: 50%;
  transform: translate(0-50%);
  font-size: 50px;
  padding: 20px;
  cursor: pointer;
  color: black;
  transition: 0.1s;
  user-select: none;
}

#previousImageButton:hover,
#nextImageButton:hover {
  color: blue;
}

#previousImageButton {
  left: 10px;
}

#nextImageButton {
  right: 20px;
}

.dotsbox {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 20px;
  cursor: pointer;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 3px solid black;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.active,
.dot:hover {
  border-color: gray;
}

@media screen and (max-width: 880px) {
  .slideshowSlide {
    height: 500px;
  }
  .slideshowImageText {
    letter-spacing: 2px;
    line-height: 25px;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation-name: posi2;
    -webkit-animation-duration: 2s;
    animation-name: posi2;
    animation-duration: 2s;
  }

  @-webkit-keyframes posi2 {
    from {
      bottom: 0%;
    }
    to {
      bottom: 10%;
    }
  }

  @keyframes posi2 {
    from {
      bottom: 0px;
    }
    to {
      bottom: 10%;
    }
  }

  .slideshowImageText h1 {
    font-size: 40px;
  }
  .slideshowImageText p {
    font-size: 15px;
  }
}

@media screen and (max-width: 520px) {
  .slideshowImageText h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .dotsbox {
    bottom: 10px;
  }

  .slideshowImage {
    transform: scale(1.5, 1.5);
    animation-name: zoom-in;
    animation-duration: 20s;
    -webkit-animation-name: zoom-in;
    -webkit-animation-duration: 20s;
    border: 10px solid white;
    max-height: 100%;
    max-width: unset;

    display: block;
    overflow-x: hidden;
  }

  @keyframes zoom-in {
    from {
      transform: translatex(0);
    }
    to {
      transform: translatex(-50%);
    }
  }
  @-webkit-keyframes zoom-in {
    from {
      transform: translatex(0);
    }
    to {
      transform: translatex(-50%);
    }
  }
}

/* ---------------------------------------------------------End of Slideshow----------------------------------------------------------------- */

.writeupBlock {
  display: grid;
  margin: 20px 5% 300px 5%;
  /* border: 10px solid #7c827c; */
  background-color: #d5e0eb;
  border-radius: 50px;
}

/*.writeupBlock-animation {
  animation: fade-enter 2s 1;
}*/

@keyframes fade-enter {
  0% {
    opacity: 0;
    /* transform: scale(0.9); */
  }
  100% {
    opacity: 1;
  }
}

/*@media (hover: hover) and (pointer: fine) {
  .writeupBlock:hover {
    transform: translate3d(0px, 10px, 0px);
    box-shadow: 10px 10px 10px cyan;
  }
}*/

.writeupBlockText {
  /* background: linear-gradient(
    rgba(224, 255, 255, 1),
    rgba(0, 255, 255, 1),
    rgba(224, 255, 255, 0.95)
  ); */
  font-family: "Roboto";
  font-size: 1.5em;
  background-color: rgb(173, 196, 230);
  border-radius: 40px 40px 40px 40px;
  padding: 40px;
  z-index: 1;
}

.label {
  padding: 30px 20px 40px 20px;
  margin: 0px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  background-color: darkblue;
  border-radius: 40px 40px 40px 40px;
  font-family: "Roboto";
  position: sticky;
  top: -25px;
  z-index: 2;
}

.writeupBlockButtonExploreMore {
  background: none;
  border: none;
  font-family: "Roboto";
  font-size: 1em;
  color: rgb(78, 32, 121);
  /*padding: 80px 20px 40px 20px;
  color: #242e25;
  border: 0px;
  border-radius: 0px 0px 40px 40px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  background: linear-gradient(rgb(220, 220, 230), rgb(173, 196, 230)); 
  background-color: #d5e0eb;

  position: sticky;
  bottom: 150px;
  z-index: 0;*/
}

.writeupBlockButtonExploreMore:hover {
transform: scale(1.05);
color: rgb(40, 0, 104);
transition: 0.5s;
}

/* ---------------------------------------End of Body------------------------------------------------------------------------ */

/* @media screen and (max-width: 880px) {
  header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: -188px;
    z-index: 99999;
    padding: 10px 5px 0px 5px;
    margin-inline: 0px;
  }
  #mainLogo {
    /* box-shadow: 0px 10px 10px darkblue; 
  }

  #navLinks {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #navLinks ul {
    justify-content: space-between;
    order: 1;
    padding-bottom: 20px;
    /* box-shadow: 0px 10px 10px darkblue; 
  }
  #navLinks ul li a {
    /* box-shadow: 0px 10px 10px darkblue; 
    margin-inline: 10%;
  }

  #navContact {
    margin: 20px auto 20px auto;
    width: 35%;

    order: 0;
    box-shadow: 0px 10px 10px darkblue;
  }

  .label {
    top: 45px;
  }
} */
