@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

/* ------------------------------ Navigation Bar ------------------------------------------------------------------------------------------------------------------------------- */

.bodyOfPage {
  /* background-image: url(../images/backgroundImage.jpg); */
  /* background: radial-gradient(rgb(212, 210, 224), rgb(0, 0, 255));; */
  background-color: #d5e0eb;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
}

section {
  margin: 10px;
}

li,
a {
  font-size: 16px;
  font-weight: 500;
  color: lightblue;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  background: #97caef;
  align-items: center;
  padding: 10px 30px 20px 30px;
  overflow: hidden;
}
/*.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}*/
#mainLogo {
  cursor: pointer;
  width: 200px;
  height: 150px;
  padding: 20px;
  /*box-shadow: -5px 5px 5px darkblue;*/
}
#nametitle{
  color: rgb(29, 3, 63);
  font-size: 40px;
  cursor: pointer;
  padding:20px ;
}
#navLinks {
  list-style: none;
  display: inline-block;
}

#navLinks ul {
  display: inline-flex;
  list-style: none;
  padding: 10px 20px;
}

#navLinks ul li a {
  text-decoration: none;
  padding: 5px 5px;
  margin-inline: 10px;
  color: white;
  font-size: 1.2em;
  box-shadow: 3px 3px #7c827c;
  border-radius: 20px;
  background: rgb(2, 2, 99);
}

#navLinks li a:hover {
  background: rgb(141, 125, 228);
  color: black;
  cursor: pointer;
}

.navButton {
  /*padding: 10px 20px;
  margin-inline: 20px;
  background-color: red;
  color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  box-shadow: 3px 3px #7c827c;*/
  text-decoration: none;
  padding: 5px 5px;
  margin-inline: 10px;
  color: white;
  font-size: 1.2em;
  box-shadow: 0px 3px rgb(93, 88, 100);
  border-radius: 20px;
  border-width: 0px;
  background-color: rgb(2, 2, 99);
  left: 50%;
  display: inline-flex;
}
.navButton:hover{
  background: yellow;
  color: black;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  #navContact:hover {
    background-color: orange;
  }
}

/* --------------------------------End of Navbar----------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------Footer-------------------------------------------------------------------------------------- */

.footerContainer {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  padding: 30px 30px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/* -----------------------End of Footer------------------------------------------------------------------------------------------------------------ */


@media screen and (max-width: 1000px) {
  header {
    display: flex;
    flex-direction: column;
    z-index: 99999;
    padding: 10px 5px  !important;
    margin-inline: 0px;
  }
  #mainLogo {
    box-shadow: 0px 10px 10px darkblue;
  }

  #nametitle{
    text-align: center;
  }

   ul #navLinks{
    width: 100%; 
    justify-content: space-between;
    order: 1;
    margin: 0px;
    padding: 10px 0px 10px 0px;
    /* box-shadow: 0px 10px 10px darkblue; */
    margin: 0px;
  }

  a li{
    margin: 10px;
  }


  .label {
    top: 0px;
  }
}

@media screen and (max-width: 450px) {
  .label{
    top: 45px;
  }
  
  header{
    position: sticky;
    top: -480px;
  }


}
